@font-face {
  font-family: 'Geist';
  src: url("/fonts/Geist/Geist-Regular.ttf") format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Geist';
  src: url("/fonts/Geist/Geist-Bold.ttf") format('truetype');
  font-weight: bold;
}

